*{
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #ffffff;
}

.navbar-expand-lg {
    padding-left: 10%;
    padding-right: 10%;
}

main {
    padding-bottom: 50px; 
    margin-right: 10%;
    margin-left: 10% ;
}

h3 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.who .destacados {
    padding: 15px;
}

-----------------------------pendiente------------------------------
.dropdown{
    display: center;
}

-----------------------------pendiente------------------------------

.icono {
    color: #ffffff;
    width: 100%;
    background-color: #0dcaf0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.footer {
    background-color: #0dcaf0;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 0;
}

i{
    color: #ffffff;
    display: inline-block;
}

.container .pie-pagina .favicon{
    display: inline-block; 
}
